.avatar-profile {
    width: 350px;
}

h1 {
    color: #ff9999;
}

.content {
    padding-top: 60px;
}

.error-paragraph {
    text-align: center;
    color: #e57373;
}

.error-item {
    color: #e57373;
}

.pink-centered-bold-text {
    text-align: center;
    color: #e57373;
    font-weight: bold;
}

.pink-centered-text {
    color: #e57373;
    text-align: center;
}