<link rel="stylesheet" href="/css/createPost.css">

<h3 class="center-align create-post-title">Create a post and make friends today!</h3>

<div class="row align-form">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-action  red lighten-2 white-text"></div>
            <div class="card-content">
                <div class="row">
                    <form method="POST" action="/create-post" class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="title" type="text" class="validate" name="title">
                                <label for="title">Title</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate" name="email">
                                <label for="email">email</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="content" type="text" class="validate" name="content">
                                <label for="content">Content</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <select>
                                    <option value="" selected disabled hidden>Category</option>
                                    {{#each categories}}
                                        <option value="{{categoryID}}">{{category}</option>
                                    {{/each}}
                                </select>
                                <label>Category</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                
                                <select>
                                    <option value="" selected disabled hidden>Location</option>
                                    {{#each locations}}
                                    <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                                         <label>Location</label>
                            </div>
                        </div>

               

                        <div class="form-field">
                            <button class="btn-large wave-effect waves-dark red lighten-2 "
                                type="submit">Submit</button>
                        </div><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>