<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <header>
        <div>
            <h3 class="center-align friendy-headline">Friendy</h3>
        </div>
    </header>
    <main>
        <h4 class="center-align">Are you lonely too?</h4>
        <p id="main-text">In today's society, so many people suffer from loneliness. Are you one of them? 

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in molestie dui. 
            Morbi vulputate eleifend ligula vehicula finibus. Donec vel justo congue, ullamcorper orci ut, semper dolor. 
            Curabitur justo mi, bibendum et magna non, tempor accumsan eros. Donec dui ipsum, ultricies in nulla in, convallis porta ex. 
            Suspendisse lacinia nisi vitae tellus volutpat tempor. 
            Vivamus convallis feugiat turpis, a rhoncus urna vestibulum faucibus. Vestibulum ultrices consequat massa ac sagittis. 
            Vestibulum id odio eget lacus imperdiet porttitor ac et ante. Suspendisse potenti. 
            Praesent vel justo eget felis vulputate vestibulum. Praesent placerat nibh dictum purus tincidunt iaculis. 
            Suspendisse tincidunt elementum justo, sit amet malesuada arcu efficitur eu.

        </p>

        <h4 class="center-align">Read the most recent posts here!</h4>


        {{#if posts.length}}
        {{#each posts}}
         
         <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/logga_holding_hands.png">
                        <span class="card-title">Card Title</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                </div>
            </div>
            </div>
        </div>

        {{/each}}
        {{/if}}




    </main>
</body>
</html>