<link rel="stylesheet" type="text/css" href="/css/viewMessages.css">

{{#if databaseError.length}}
<p>There was a database error, cannot fetch contact messages :( </p>
{{/if}}




{{#if contactMessages.length}}

<div="search-result-div">
    <div class="row">


        {{#each contactMessages}}

        <div class="col s4">
            <div class="card">

                <div class="card-image">
                    <img class="responsive-img profile-image" src="/images/question_mark_pink.png">
                </div>

                <div class="card-content">
                    <p class="card-text card-title">{{title}}</p>
                    <br>
                    <p class="card-text">{{content}}.</p>
                    <br>
                    <p class="card-text">{{email}}.</p>
                </div>

            </div>
        </div>

        {{/each}}

    </div>
    </div>

{{else}}

    <p>No contact messages available!</p>

{{/if}}