<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friendy</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{!--  Compiled and minified CSS from Materialize  --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    {{!-- Put this script into an appropriate JS file --}}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="/home" class="brand-logo"><img class="sizeable-image" src="/images/pink_hands.png"></a>
                    <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/create-post">Create Post</a></li> {{!-- Dölj denna för användare utan account --}}
                        <li><a href="/account/profile">Profile</a></li> {{!-- Dölj denna för användare utan account --}}
                        <li><a href="/support">Support</a></li>
                        <li><a href="/search-posts">Search Posts</a></li>
                        <li><a href="/view-messages">View Messages</a></li>
                        {{!-- Dölj denna för användare som ej är admin --}}
                        <li><a href="/about-us">About us</a></li>
                        <li><a href="/account/login">Log In</a></li>
                        <li><a href="/account/signup">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <ul class="sidenav" id="menu-responsive">
            <li><a href="/create-post">Create Post</a></li> {{!-- Dölj denna för användare utan account --}}
            <li><a href="/account/profile">Profile</a></li> {{!-- Dölj denna för användare utan account --}}
            <li><a href="/support">Support</a></li>
            <li><a href="/search-posts">Search Posts</a></li>
            <li><a href="/view-messages">View Messages</a></li> {{!-- Dölj denna för användare som ej är admin --}}
            <li><a href="/about-us">About us</a></li>
            <li><a href="/account/login">Log In</a></li>
            <li><a href="/account/signup">Sign Up</a></li>
        </ul>

    </header>

    <main>
        {{{body}}}
    </main>

    <footer></footer>
</body>

</html>